@import url('https://fonts.googleapis.com/css2?family=Apricot&family=Scripter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Cormorant:ital,wght@0,300..700;1,300..700&family=Shadows+Into+Light&display=swap');

.signup {
    text-align: center;
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex; /* Koristi flexbox */
    justify-content: center; /* Centriranje sadržaja horizontalno */
    align-items: flex-start; /* Centriranje sadržaja vertikalno */
    overflow: auto; /* Osigurava da se ništa ne prelijeva izvan stranice */
}

.signup::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url('https://img.freepik.com/premium-photo/notepads-cellphone-coffee_700248-24814.jpg?w=826'); /* Put do slike */
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    filter: blur(4px); /* Zamućenje pozadine */
    z-index: -1; /* Stavlja pozadinu iza sadržaja */
}

/* Prozirni sloj za dodatni kontrast */
.overlay {
    position: relative;
    width: 500px;
    margin: 20px auto;
    background-color: rgba(215, 192, 156, 0.8); /* Prozirna pozadina */
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    font-size: 1.5rem; 
}

/* Smanjeni font za sve tekstualne elemente unutar .overlay */
.signup .overlay h1 {
    font-size: 2.7rem !important; /* Manji font za h1 */

    color: #D4B2A7;
    font-family: 'Acme';
    margin-bottom: 10px;
}

.signup .overlay p {
    font-size: 1.3rem; /* Manji font za paragrafe */
    color: #D7A49A;
    font-family: 'Shadows Into Light' bold;
    margin-bottom: 0px;
}

.options {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.signup-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.signup .form-group label {
    font-size: 1.5rem;
    color: #333;
    font-family: 'Cormorant', serif;
    display: block;
    margin-bottom: 10px;
}

.signup .form-group input {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    background-color: antiquewhite;
    color: black;
    border: 1px solid #ccc;
    font-size: 1.5rem;
    font-family: 'Cormorant', serif;

}



.error-message {
    color: red;
    font-size: 1rem;
}

.signup .option-btn {
    padding: 15px 30px;
    font-size: 2rem;
    font-family: 'Cormorant';
    color: #fff;
    background-color: #A4B1BA;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.option-btn:hover {
    background-color: #D7A49A;
}
