@import url('https://fonts.googleapis.com/css2?family=Apricot&family=Scripter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Cormorant:ital,wght@0,300..700;1,300..700&family=Shadows+Into+Light&display=swap');


.signin {
    text-align: center;
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex; /* Koristi flexbox */
    justify-content: center; /* Centriranje sadržaja horizontalno */
    align-items: center; /* Centriranje sadržaja vertikalno */
    overflow: hidden; /* Osigurava da se ništa ne prelijeva izvan stranice*/
  }

  .signin::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url('https://img.freepik.com/premium-photo/notepads-cellphone-coffee_700248-24814.jpg?w=826'); /* Put do slike */
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    filter: blur(4px); /* Zamućenje pozadine */
    z-index: -1; /* Stavlja pozadinu iza sadržaja */
  }
  
  /* Prozirni sloj za dodatni kontrast */
  .overlay {
    position: relative;
    background-color: rgba(237, 233, 227, 0.8); /* Prozirna pozadina */
    padding: 20px;
    border-radius: 15px;
    text-align: center center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  .signin .content h1 {
    font-size: 2.8rem;
    color: #D4B2A7;
    font-family: 'Acme';
    margin-bottom: 10px;
  }
  
  .signin .options {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .signin .content p {
    font-size: 1.5rem;
    color: #A38F85;
    font-family: 'Shadows Into Light';
    margin-bottom: 30px;
  }

  .signin-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .form-group label {
    font-size: 1.8rem;
    color: #333;
    font-family: 'Cormorant', serif;
    display: block;
    margin-bottom: 10px;
  }

  .form-group input {
    width: 100%;
    padding: 5px;
    border-radius: 10px;
    color: black;
    background-color: antiquewhite;
    border: 1px solid #ccc;
    font-size: 1.5rem;
    font-family: 'Cormorant', serif;
  }
  
  .error-message {
    color: red;
    font-size: 1rem;
  }
  
  .signin .option-btn {
    padding: 15px 30px;
    font-size: 1.5rem;
    font-family: 'Cormorant';
    color: #fff;
    background-color: #A4B1BA;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .option-btn:hover {
    background-color: #D7A49A;
  }
  